<%= form_with(model: fb_ad, url: fb_ads_path, local: true) do |form| %>
  <% if fb_ad.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fb_ad.errors.count, "error") %> prohibited this fb_ad from being saved:</h2>

      <ul>
        <% fb_ad.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :campaign_name %>
    <%= form.text_field :campaign_name, placeholder: "Enter the Product name" %>
  </div>

  <div class="field">
    <%= label_tag :interests_text %>
    <%= text_field_tag :interests_text, nil, placeholder: "Search for interests" %>
  </div>

  <div class="field">
    <%= form.label :interests %>
    <%= select :fb_ad, :interests, options_for_select([]), {}, { multiple: true, size: 10 } %>
  </div>

  <div class="field">
    <%= form.label :gender %>
    <%= select(:fb_ad, :gender, options_for_select([['Both', 0], ['Male', 1], ['Female', 2]])) %>
  </div>

  <div class="field">
    <%= form.label :headline %>
    <%= form.text_field :headline, placeholder: "Enter the Headline" %>
  </div>

  <div class="field">
    <%= form.label :ptext %>
    <%= form.text_field :ptext, placeholder: "Enter your Primary Text" %>
  </div>

  <div class="field">
    <%= form.label :video_url %>
    <%= form.text_field :video_url, placeholder: "Enter a downloadable link" %>
  </div>

  <div class="field">
    <%= form.label :thumbnail_url %>
    <%= form.text_field :thumbnail_url, placeholder: "Enter the thumbnail URL" %>
  </div>

  <div class="field">
    <%= form.label :pixel_id %>
    <%= select(:fb_ad, :pixel_id, options_for_select(current_user.ad_acct_query.adspixels(fields: 'name,id').map {|p| [p.name, p.id]})) %>
  </div>

  <div class="field">
    <%= form.label :countries %>
    <%= select :fb_ad, :countries, options_for_select(countries_list), {}, { multiple: true, size: 10 } %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
