
<h1>Editing User</h1>

<%= form_with(model: @fb_user, url: setting_path, method: 'patch', local: true) do |form| %>
  <% if @fb_user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@fb_user.errors.count, "error") %> prohibited this ad from being saved:</h2>

      <ul>
        <% @fb_user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ad_account_id %>
    <%= select_tag :ad_account_id, options_for_select(@ad_accounts) %>
  </div>

  <%# <div class="field"> %>
  <%#   <%= form.label :pixel_id %1> %>
  <%#   <%= select_tag :pixel_id, options_for_select(@pixels) %1> %>
  <%# </div> %>

  <div class="field">
    <%= form.label :page_id %>
    <%= select_tag :page_id, options_for_select(@pages) %>
  </div>

  <div class="field">
    <%= form.label :url %>
    <%= form.text_field :url %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<%= link_to 'Back', root_path %>
