<h1>FB Ads Portal</h1>
<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="well well-sm">
                <legend class="text-center">Welcome to Ads Portal</legend>
                <div class="text-center">
                    <div id="user_nav">
                      <% if current_user %>
                        Signed in as <strong><%= current_user.name %></strong>!
                        <br>
                        <%= link_to "Create Ad", new_ad_path, id: "create_ad" %>
                        <br>
                        <%= link_to "List ads", ads_path, id: "list_ads" %>
                        <br>
                        <%= link_to "Settings", edit_setting_path(current_user), id: "settings" %>
                        <br>
                        <%= link_to "Sign out", signout_path, id: "sign_out" %>
                        <br>
                        <br>
                        <%= link_to "Privacy Policy", privacy_path, id: "privacy" %>
                      <% else %>
                        Please login and authenticate to continue.
                        <br>
                        <%= link_to "Sign in with Facebook", "/auth/facebook", id: "sign_in", class: "btn btn-primary" %>
                      <% end %>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
